*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body,html{
height: 100%;
}

.mainContainer{
  min-height:100%;
  background-color: #E3DDA3;
}

.mobile-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  height:max-content;
  color: white;
  margin-top: 100px;
  justify-content: space-evenly;
  align-items: center;
  }
  
  .topnav {
  min-height: 100px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #426B1F;
  position: relative;
  }

  .topnav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  }
  
  .topnav #myLinks {
  display: none;
  }
  
  .topnav a {
  color: black;
  padding: 35px 30px;   
  text-decoration: none;
  font-size: 17px;
  display: block;
  font-family: "Itim";
  font-size: 30px;
  }
  
  .topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  }
  .topnav a.icon:hover {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #FCAFAF;
  color: black;
  }

  .topnav a.signUp{
  background-color: black;
  color: #426B1F;
  }
  
  .topnav #myLinks a:hover {
  background-color: #FCAFAF;
  color: black;
  }
  
  .active {
  background-color: #426B1F;
  color: white;
  }

  h1{
  font-family: "Itim";
  font-size: 55px;
  color: black;
  padding-left:16px
  }


  .tomato-container{
  max-width: 390px;
  margin: auto;
  background-color: #FCAFAF;
  height: 345px;
  color: white;
  margin-bottom: 15px;
  }

  p{
  font-family: "Itim";
  font-size: 35px;
  color: black;
  padding-left:16px
  }

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

  .footer {
position: static;
height: 110px;
width: 100%;
background-color: #426B1F;
color: white;
padding-left: 0.5%;
padding-right: 0.5%;
padding-top: 6px;
}

.grey{
background-color: #D9D9D9;
height:90%;
text-align: left;
position: relative;
}

.footerP{
font-family: "Itim";
font-size: 35px;
color: #426B1F;
}

@media screen and (max-width: 900px) {
  .mobile-container{
      flex-direction: column;
  }
}