[class*="col-"] {
  width: 100%;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.mobile-container {
    margin: auto;
    background-color: #E3DDA3;
    height:max-content;
    color: white;
  }
  
  .topnav {
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #426B1F;
    position: relative;
  }

  .topnav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: black;
    padding: 35px 30px;   
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-family: "Itim";
    font-size: 30px;
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav a.icon:hover {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #FCAFAF;
    color: black;
  }

  .topnav a.signUp{
    background-color: black;
    color: #426B1F;
  }
  
  .topnav #myLinks a:hover {
    background-color: #FCAFAF;
    color: black;
  }
  
  .active {
    background-color: #426B1F;
    color: white;
  }

  h1{
    font-family: "Itim";
    font-size: 55px;
    color: black;
    padding-left:16px
  }


  .tomato-container{
    max-width: 390px;
    margin: auto;
    background-color: #FCAFAF;
    height: 345px;
    color: white;
    margin-bottom: 15px;
  }

  p{
    font-family: "Itim";
    font-size: 35px;
    color: black;
    padding-left:16px
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .footer {
  position: static;
  height: 110px;
  width: 100%;
  background-color: #426B1F;
  color: white;
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-top: 6px;
}

.grey{
  background-color: #D9D9D9;
  height:90%;
  text-align: left;
  position: relative;
}

.footerP{
  font-family: "Itim";
    font-size: 35px;
    color: #426B1F;
}